header {
  /* background: white;
  opacity: 50%; */
  display: flex;
  padding: 1rem 2rem 0;
  align-content: center;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid white;
  font-size: large;
}

section.group-category {
  display: flex;
  align-items: flex-end;
}
section.group-category a {
  all: unset;
}
section.group-category a:hover {
  font-size: larger;
}
section.group-category a div {
  margin: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown ul {
  background-color: white;
  color: black;
  display: none;
}

.dropdown li {
  padding: 0.25rem 0.5rem;
}

.dropdown a {
  color: black;
  text-decoration: none;
}

.dropdown li:hover {
  background: lightgray;
}

.dropdown:hover ul {
  display: block;
  position: absolute;
  min-width: 8rem;
  z-index: 1;
  cursor: pointer;
}


.group-category {
  display: flex;
}
.group-category a {
  cursor: pointer;
}

ul li {
  cursor: pointer;
}

.group-button {
  display: flex;
}
button {
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}
button img {
  margin-right: 0.5em;
}

section.group-button {
  display: flex;
  align-items: flex-start;
}
section.group-button button {
  background-color: #9ACD32;
  border: none;
  margin: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  border-radius: 5rem;
}
@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}
