.home-page {
  display: flex;
}

.home-page img {
  padding: 5em;
  width: 100%;
  height: 100%;
}

.group-category {
  display: flex;

}

.group-button {
  display: flex;

}
/* .welcome-text {
  width: 20em;
} */

/* .category-image-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.category-image-items a {
  text-align: center;
  cursor: pointer;
} */

/* .category-image-items div {
  padding: 0.5em 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  transform: translateY(-2.25em);
  margin-bottom: -2em;
} */
