header {
  /* background: white;
  opacity: 50%; */
  display: flex;
  padding: 1rem 2rem 0;
  align-content: center;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid white;
  font-size: large;
}
.bookstore-logo img {
  width: 20rem
}
.group-category {
  display: flex;
  align-items: flex-end;
}
.group-category div {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.group-category nav, .group-category a {
  all: unset;
  cursor: pointer;
}
.group-category nav:hover {
  font-size: larger;
}
.group-category a:hover {
  font-size: larger;
}

ul li {
  cursor: pointer;
}


.group-button {
  display: flex;
  align-items: flex-start;
}
button {
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  background-color: #9ACD32;
  border: none;
  margin: 1rem 1rem 0;
  padding: 1rem;
  border-radius: 5rem;
}
.group-button img {
  margin-right: 0.5em;
}
.search img, .login img {
  height: 1rem;
  width: 1rem;
}
.cart img {
  height: 1rem;
  width: 1.2rem;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}
