.category-list {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
    flex-wrap: wrap;
}

.category {
    min-width: 9rem;
    height: 3rem;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: large;
    border: 2px solid white;
    border-radius: 1.6rem;
    cursor: pointer;
    margin: 1rem;
}

.active {
    background-color: #9ACD32;
    border: none;
}