.book {
    width: 12.6rem;
    height: 24.4rem;
    background: white;
    margin: 1rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    position:relative;
}
.isPublic {
    height:4rem;
    width:4rem;
    position:absolute;
    top:-1rem;
    right:-2rem;
    cursor: pointer;
}
.cover {
    height: 20rem;
    border-radius: 1.6rem 1.6rem 0 0;
    overflow: hidden;
}
.info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.add-to-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-to-cart > img {
    cursor: pointer;
    display: flex;
    height: 2rem;
}
