.App {
  width: 50%;
  height: 100%;
  right: 0;
  bottom: -40vh;
  position: fixed;
  /* bottom: 0;
  right: 0; */
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}
.chat-window {
  padding: 16px;
  /* max-width: 960px; */
  margin-left: auto;
  margin-right: auto;
}

.chat-form {
  background-color: #fff;
  position: relative;
  height: 50%;
}

iframe {
  display: none;
}

button {
  border: 0;
}

.messages {
  list-style-type: none;
  padding: 0 0 80px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 50%;

  li {
    margin-top: 20px;
    display: flex;

    &.my-message {
      align-items: flex-end;
      justify-content: flex-end;
    }

    &.my-message span {
      background-color: #6d8fe8;
    }

    span {
      background-color: #808080;
      border-radius: 28px;
      color: #fff;
      display: inline-block;
      font-size: 15px;
      padding: 8px 15px;
      max-width: 80%;
    }
  }
}

.chat-input {
  display: block;
  border-radius: 22px;
  height: 55px;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
}

.chat-input-container {
  position: relative;
  display: flex;
}

#emoji-btn {
  position: absolute;
  right: 16px;
  top: 50%;

  cursor: pointer;
  transition: transform 0.3s;
  filter: grayscale(1);

  &:hover {
    transform: scale(1.24);
    filter: grayscale(0);
  }
}

.emoji-window {
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 100%;
  padding: 16px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  font-size: 23px;
  max-width: 320px;
}
