.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 2rem;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 3rem;
}

.category-wrapper {
    display: flex;
    padding: 1rem 5rem;;
    justify-content: space-between;
    align-items: center;
}

.category-wrapper > img:nth-of-type(1) {
    margin-right: 3rem;
}

.category-wrapper > img:nth-last-of-type(1) {
    margin-left: 3rem;
}

.CTA-button:last-child {
    width: 12rem;
    cursor: pointer;
}

