.right-container {
  margin: auto;
  /* width: 65%; */
  margin-left: 15px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border: solid;
  border-color: #8080802e;
}

.full-height {
  height: 100%;
}
.user-container {
  position: relative;
  display: flex;
  height: 100%;
}

.left-container {
  flex: 0 0 30%; /* 30% width */
}

.right-container {
  flex: 0 0 70%; /* 70% width */
}
.left-container {
  /* display: flex; */
  /* align-items: center; */
  border: solid;
  border-color: #8080802e;
  flex-wrap: wrap;
  padding: 8px; /* Add padding to space content from border */
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.settings {
  position: absolute; /* Position the setting icon absolutely */
  top: 0; /* Stick to the top */
  right: 0; /* Stick to the right */
  margin: 10px; /* Add margin for better appearance */
}
h3 {
  margin-bottom: 15px;
}
