.user-container {
  margin-top: 4%;
  margin-left: 4%;
}
.user-avatar {
  margin-bottom: 10px; /* Add margin bottom to space from userinfo-content */
}

.userinfo-content {
  margin-left: 10px;
}

.username {
  font-weight: bold;
}

.Button {
  display: block;
  margin: auto;
  margin-top: 10px; /* Add margin top to space from userinfo-content */
  width: 50px;
}
